body {
    background-color: rgb(54, 76, 95);
    min-height: 100vh;
}

.lista {
    display: flex;
    

}

li{
    display: flex;
    list-style: none;
    color: aqua;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 0.375rem;
    margin-left: 10px;
}

li button{
    margin-left: 10px;
    border: 1px solid;
    border-radius: 0.375rem;
    background-color: red;
    padding: 0.75rem, 0.375rem;
    width: 2.5rem;
    
}

